<section class="user_about_section">
	<h2 class="about_title">About:</h2>
	<article class="text_area">
		<%= if @user %>
	</article>
</section>

<div class="username">
	<h1 class="username"><%= @user.username %></h1>
</div>

<div id="accordion">

	<h3 class="accordion_title">QUESTIONS SUBMITTED: <%= @user.questions.size %></h3>
		<div class="question accordion_divs">
			<% count = 1 %>
			<% @user.questions.each do |q| %>
					<a href="<%= question_url(q) %>"><%= count %>. <strong><%= q.title %></strong></a><br>
					<%= q.body %><br>
					<% count += 1 %>
			<% end %>
		</div>

	<h3 class="accordion_title">ANSWERS SUBMITTED: <%= @user.answers.size %></h3>
	  <div class="answer accordion_divs">
			<% count = 1 %>
			<% @user.answers.each do |a| %>
				<%="#{count}. #{a.body} "%><br>
				<% count += 1 %>
			<% end %>
		</div>


	<h3 class="accordion_title">COMMENTS SUBMITTED: <%= @user.responses.size %></h3>
		<div class="comment accordion_divs">
			<% count = 1 %>
			<% @user.responses.each do |r| %>
				<%="#{count}. #{r.body} "%><br>
				<% count += 1 %>
			<% end %>
		</div>

</div>

