<!DOCTYPE html>
<html>
<head>
  <title>MacOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="layout_header">
    <% if !current_user %>
      <%= link_to "Login", home_path, class: "nav_links" %>
      <%= link_to "Sign In", home_path, class: "nav_links" %>
    <% else %>
      <%= link_to "Sign Out", log_out_path, class: "nav_links sign_out" %>
    <% end %>
    <h1 class="title"><%= link_to "Mac Overflow", questions_path %></h1>
  </header>

<%= yield %>

</body>
</html>
